<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h3> Teacher: <%= teacher.name%></h3>
    <p>Username: <%= teacher.username %></p>
    <p>phone: <%= teacher.phone %></p>
    <p>email: <%= teacher.email %></p>
    <p>Address: <%= teacher.address?.city %></p>
    <p>Company : <%= teacher.company?.name %></p>
    <a href="/edit-teacher/<%=teacher.id %>"> Tahrirlash</a>
    <button data-id="<%= teacher.id%>" id="del-teacher">Ochirish</button>
    <script>
        const delTeacher = document.getElementById("del-teacher")
        delTeacher.addEventListener("click", (event)=>{
            const id = event.target?.dataset?.id || null
            if(id){
                fetch(`teacher/${id}`, {
                    method:"DELETE"
                }).then(()=>{
                    console.log("Teacher deleted");
                    setTimeout(()=>{
                        window.location.href = "/teachers"
                    }, 2000)
                })
            }
        })
    </script>

  </body>
</html>
